.logo_stat{
	background: #000000 url(/images/menubg.gif) repeat-x 0px 0px;
	border-bottom: 0px solid #717171;
	height: 41px;
	padding: 0;
	border-color: #9C9C9C;
        border-style: solid;
        border-width: 0px;
        
}

.logoo {
	float:left;
}

.stat{
	float:left;
	padding: 5px 0 0 150px;
	color: #898989;
	overflow: hidden;
	position:absolute;
}

.stat span {
	color: #00aeef;
}

.banner_top {
	background: #828282;
	padding: 20px 0 20px 0;
        border-color: #9C9C9C;
        border-style: solid;
        border-width: 1px;
}

.banner_bottom {
	background: #363636;
	padding: 20px 0 20px 0;
}

.banner_bottom .banner_bg {
	background: #363636;
	height: 62px;
}

.banner_bg {
	background: #363636;
	height: 60px;
}

.one {
	text-align: left;
	padding-left: 40px;
	width: 50%;
	vertical-align: top;
}

.two {
	text-align: right;
	padding-right: 40px;
	width: 50%;
	vertical-align: top;
}

/* Top navigation style */
.ull {background: #828282 url(/images/menu_bg.gif) repeat-x 0px 0px;}

ul.top-navigation {
	/* background: #457ab0 url(/images/menu_bg.gif) repeat-x 0px 0px; */
	list-style:none;
	height:41px;
	padding-right:15px;
	margin: 0px;
	width: 980px;
	margin: 0 auto;
}

ul.top-navigation li {
	background: url(/images/devision.gif) no-repeat 20px 0px;
	float:left;
	line-height:41px;
	padding: 0 0 0 40px;
}

li.top_menu {margin: 0; list-style-position: outside; line-height:40px;}

ul.top-navigation li a:link{color: #ffffff; text-decoration:none;}
ul.top-navigation li a:active{color: #ffffff; text-decoration:none;}
ul.top-navigation li a:visited{color: #ffffff; text-decoration:none;}
ul.top-navigation li a:hover{color: #ffffff; text-decoration:underline;}

.vip {background: none!important; font-weight:bold; padding:0!important;}
.vip a:link{color:#ebcacd!important;}
.vip a:active{color:#ebcacd!important;}
.vip a:visited{color:#ebcacd!important;}
.vip a:hover{color:#ebcacd!important;}
/* End top navigation */
/* -------------- */
/* -------------- */
/* Sorting style */
.sort {
	background: #393939 url(/images/sort_bg.gif) repeat-x 0px 0px;
}

.first {padding:0!important;}

ul.sort_nav {
	/* background: #393939 url(/images/sort_bg.gif) repeat-x 0px 0px; */
	list-style:none;
	height:20px;
	margin-top: 0px;
	padding-right: 15px;
	font-size:11px;
	width:900px;
	margin: 0 auto;
}

ul.sort_nav li {
	float:left;
	line-height:20px;
	padding: 0 0 0 25px;
}

ul.sort_nav li a:link{color: #888888; text-decoration:none;}
ul.sort_nav li a:active{color: #888888; text-decoration:none;}
ul.sort_nav li a:visited{color: #888888; text-decoration:none;}
ul.sort_nav li a:hover{color: #888888; text-decoration:underline;}
/* -------------- */
/* -------------- */
/* Premium servers style */
#premuim {
	margin: 0 auto;
}

.dark {background: #828282;}

.servers {
	float:left;
	color: #cccccc;
	font-size: 11px;
	overflow: hidden;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	width: 100%;
        border-color: #9C9C9C;
        border-style: solid;
        border-width: 1px;
}

.servers span {
	color: #00aeef;
}

.servers img {
	padding: 0 20px 0 0;
}

.servers div{
	float:left;
	padding: 0 0 0 20px;
	width: 18%;
}

.li_stat *, .li_stat {
	color: #00AEEF;
}

.li_stat a {
	color: #68C2E3;
}

.li_stat a:hover {
	color: #EEEEEE;
}
div.hint {
	font-size: 10px;
	color: #FFFFFF;
	line-height:14px;
}


.hbg {

width: 1033px;
height: 125px;
overflow: hidden;
margin: 1px 0 0 0;
background: url(/hdr.png) no-repeat 0 0; 
}

.hidden {
overflow: hidden;

}


.hlogo {
float: left;

width: 585px;
height: 98px;
margin: 3px 0 0 34px;
}

.hbanka {
float: right;
background: url(/hbanka.png) no-repeat 0 0;
width: 550px;
height: 130px;
margin: -80px -5px 0 0;
}

.top_panel {
background: url(/images/top-panel.png) repeat-x;
border: 1px solid #151515;
height: 38px;
}


ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}

.searchs {
float: right;
margin: 4px;
}



.navbar {
margin-bottom: 0px;
overflow: visible;
-webkit-box-shadow: 0 0 10px rgb(155, 155, 155);
box-shadow: 0 0 10px rgb(155, 155, 155);
}

navbar-inner {
min-height: 40px;
padding-right: 20px;
padding-left: 20px;
background-color: #fafafa;
background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
background-image: -o-linear-gradient(top,#fff,#f2f2f2);
background-image: linear-gradient(to bottom,#fff,#f2f2f2);
background-repeat: repeat-x;
border: 1px solid #d4d4d4;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

.navbar .container {
width: auto;
}

.container {
margin-right: auto;
margin-left: auto;
}

.navbar .btn-navbar {
display: none;
float: right;
padding: 7px 10px;
margin-right: 5px;
margin-left: 5px;
color: #fff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #ededed;
background-image: -moz-linear-gradient(top,#f2f2f2,#e5e5e5);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#e5e5e5));
background-image: -webkit-linear-gradient(top,#f2f2f2,#e5e5e5);
background-image: -o-linear-gradient(top,#f2f2f2,#e5e5e5);
background-image: linear-gradient(to bottom,#f2f2f2,#e5e5e5);
background-repeat: repeat-x;
border-color: #e5e5e5 #e5e5e5 #bfbfbf;
border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff2f2f2',endColorstr='#ffe5e5e5',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
}

.nav-collapse.collapse {
height: auto;
overflow: visible;
}

.collapse {
position: relative;
height: 0;
overflow: hidden;
-webkit-transition: height .35s ease;
-moz-transition: height .35s ease;
-o-transition: height .35s ease;
transition: height .35s ease;
}

.navbar .nav {
position: relative;
left: 0;
display: block;
float: left;
margin: 0 10px 0 0;
}

.nav {
margin-bottom: 20px;
margin-left: 0;
list-style: none;
}

.navbar .nav>li {
float: left;
}

.navbar .divider-vertical {
height: 40px;
border-right: 1px solid #fff;
border-left: 1px solid #f2f2f2;
}
