body{ 
	background: url(/templates/bg.jpg) 41% 0 no-repeat fixed; #161616;
        color: #ffffff;
	font-family: Verdana, Tahoma;
	font-size: 12px;
	padding: 0;
	margin: 0;
        min-width: 80;
}

table {
	font-family: Verdana, Tahoma;
	font-size: 12px;
}
